
.container {
  width: 900px;
  margin: auto;
  /* flex-wrap: wrap;
  display:flex; */
}

.container h1 {
  color: white;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
}

.container h2 {
  text-align: center;
}

.container p {
  color: white;
  opacity: 0.7;
  font-size: 20px;
}


.btn_green {
  border-radius: 10px;
  display: inline-block;
  background-color: #1EDD88;
  padding: 16px 36px;
  color: white
}

.btn_green:hover {
  transition: 1s;
  background-color: #e81284;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
